services:
    Faker\Generator:
      factory: ['PrestaShop\Module\PsFixturesCreator\Faker\FakerFactory', 'create']
      arguments:
        - 'en_EN'

    PrestaShop\Module\PsFixturesCreator\Creator\CustomerCreator:
      arguments:
        $faker: '@Faker\Generator'

    PrestaShop\Module\PsFixturesCreator\Creator\CartCreator:
      arguments:
        $faker: '@Faker\Generator'

    PrestaShop\Module\PsFixturesCreator\Creator\CartRuleCreator:
      arguments:
        $faker: '@Faker\Generator'

    PrestaShop\Module\PsFixturesCreator\Creator\ProductCreator:
      arguments:
        $langRepository: '@prestashop.core.admin.lang.repository'
        $featureCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\FeatureCreator'
        $connection: '@doctrine.dbal.default_connection'
        $dbPrefix: '%database_prefix%'
        $faker: '@Faker\Generator'
        $commandBus: '@prestashop.core.command_bus'

    PrestaShop\Module\PsFixturesCreator\Creator\OrderCreator:
      arguments:
        $faker: '@Faker\Generator'
        $customerCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\CustomerCreator'
        $cartCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\CartCreator'

    PrestaShop\Module\PsFixturesCreator\Creator\AttributeCreator:
      arguments:
        $entityManager: '@doctrine.orm.entity_manager'
        $langRepository: '@prestashop.core.admin.lang.repository'
        $shopRepository: '@prestashop.core.admin.shop.repository'

    PrestaShop\Module\PsFixturesCreator\Creator\FeatureCreator:
      arguments:
        $langRepository: '@prestashop.core.admin.lang.repository'

    PrestaShop\Module\PsFixturesCreator\Creator\ProductCombinationCreator:
      arguments:
        $entityManager: '@doctrine.orm.entity_manager'
        $commandBus: '@prestashop.core.command_bus'
        $attributeCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\AttributeCreator'
        $langRepository: '@prestashop.core.admin.lang.repository'
        $featureCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\FeatureCreator'
        $connection: '@doctrine.dbal.default_connection'
        $dbPrefix: '%database_prefix%'
        $faker: '@Faker\Generator'

    PrestaShop\Module\PsFixturesCreator\Command\ShopCreatorCommand:
        class: PrestaShop\Module\PsFixturesCreator\Command\ShopCreatorCommand
        arguments:
          $customerCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\CustomerCreator'
          $cartCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\CartCreator'
          $orderCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\OrderCreator'
          $cartRuleCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\CartRuleCreator'
          $attributeCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\AttributeCreator'
          $featureCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\FeatureCreator'
        tags:
            - { name: 'console.command' }

    PrestaShop\Module\PsFixturesCreator\Command\ProductCreatorCommand:
      class: PrestaShop\Module\PsFixturesCreator\Command\ProductCreatorCommand
      arguments:
        $productCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\ProductCreator'
        $productCombinationCreator: '@PrestaShop\Module\PsFixturesCreator\Creator\ProductCombinationCreator'
      tags:
        - { name: 'console.command' }
